# Basics
*#
*.un~
*~
.#*
.*.sw[a-z]
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
\#*#
pkg/
**/tmp/**
**/wip/**
**/vendor/**

# Bundler
#bin/*
**/.bundle/**

# JetBrains
**/.idea/**

# Linux
**/.directory
**/.Trash-*

# Mac OS
**/.DS_Store
**/.localized

# Ruby
**/Gemfile.lock

# Terraform
**/crash.log
**/.terraform/*
**/.terraform*
**/*.tfstate*
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/*tfplan*

# Orchestrator
vars/secrets/*
