#!/usr/bin/env bash

echo ''
echo 'INFO: STARTING USER DATA SCRIPT...'
echo ''

################################################################################
# Variables
################################################################################
download_path="/tmp"

################################################################################
# Host File
################################################################################
echo ''
echo 'INFO: Configure Host File'
echo ''

host_ip=$(hostname -I)
# TODO: Change to conditional check and add with maybe sed
hosts_file=$(cat <<HEREDOC
127.0.0.1 localhost
$host_ip ${hostname}.bonusbits.local ${hostname}

# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
HEREDOC
)
echo "$hosts_file" > /etc/hosts

echo "${hostname}" > /etc/hostname
hostname "${hostname}"
hostnamectl set-hostname "${hostname}.demo.local"

# Tag for tailing file to know when done
echo 'USER DATA COMPLETED'
